<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

        <ion-card>
          <ion-img [src]="dataNote.linkp"></ion-img>
          <ion-card-header>
            <ion-card-subtitle>{{dataNote.tanggalp.toLocaleString()}} {{dataNote.nilaip}}</ion-card-subtitle>
            <ion-card-title>{{dataNote.judulp}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{dataNote.isip}}
          </ion-card-content>
          <ion-button color="danger" (click)="Hapus()">Hapus</ion-button>
        </ion-card>


</ion-content>
